{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
{% endblock %}

{% block body %}
    <div class="timeline">
        <h3>Logado como: {{ current_user.username }}</h3>
        <a href="{{ url_for('profile', user_id=current_user.id) }}" class="back-link">Meu perfil</a>
        <a href="{{ url_for('homepage') }}" class="back-link">Fazer logout</a>
        <h1>Timeline</h1>
        {% for post in posts[::-1] %}
            <div class="post-card post">
                <div class="post-header">
                    <p>{{ post.post_text }}</p>
                </div>
                <div class="post-content">
                    <img class="post-image" src="{{ url_for('static', filename='assets/' + post.post_img) }}" alt="Post Image">
                </div>
                <div class="post-actions">
                    <form method="POST" action="{{ url_for('like_post', post_id=post.id) }}">
                        <button type="submit">CURTIR</button>
                    </form>

                    {% if current_user.id != post.user.id %}
                    <form method="POST" action="{{ url_for('repost', post_id=post.id) }}">
                        <button type="submit">REPOSTAR</button>
                    </form>
                    {% endif %}

                    {% if current_user.id == post.user.id %}
                    <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
                        <button type="submit" class="delete">DELETAR</button>
                    </form>
                    {% endif %}
                </div>
                {% if post.reposted %}
                    <h3>Postado por: <span>{{ post.original_posted_by_id }}</span> em <span>{{ post.original_posted_date.strftime('%d/%m/%Y')}}</span></h3>
                    <h3>Repostado por: <span>{{ post.user.username }}</span> em <span>{{ post.creation_date.strftime('%d/%m/%Y')}}</span></h3>
                {% else %}
                    <h3>Postado por: <span>{{ post.user.username }}</span> em <span>{{ post.creation_date.strftime('%d/%m/%Y')}}</span></h3>
                {% endif %}
                <h2>{{ post.likes }} likes</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
