
body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f8fa;
    color: #14171a;
}

.register-form {
    width: 50%;
    background: #fff;
    padding: 20px;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.register-form h1 {
    color: #1da1f2;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

form {
    width: 100%;
}

form input,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e1e8ed;
}

a {
    color: #1da1f2;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
